.container.mx-auto
  p.mb-0
    i Github @&nbsp;
      a(href="https://github.com/simboonlong/utility", target="_blank", rel="noopener noreferrer") Utility.
  p
    i Author &copy;&nbsp;
      a(href="https://simboonlong.com", target="_blank", rel="noopener noreferrer") Sim Boon Long.