h3
  a(href='https://github.com/simboonlong/utility#inview', target='_blank', rel='noopener noreferrer') inView
p Sets attribute [data-inview="true"] when element is scrolled into view.
.py-5
  pre.bg-gray-900.text-white.p-4.mb-2.
    inView({
      elements: document.querySelectorAll(".foo")
    })
  .py-4
    .flex.flex-wrap.-mx-4
      .w-auto.p-4
        .foo
          .hide.w-32.h-32(data-testid='inview')
      .w-auto.p-4
        .foo
          .hide.w-72.h-72
      .w-auto.p-4
        .foo
          .hide.w-48.h-48
      .w-auto.p-4
        .foo
          .hide.w-72.h-72
      .w-auto.p-4
        .foo
          .hide.w-48.h-48
      .w-auto.p-4
        .foo
          .hide.w-32.h-32
      .w-auto.p-4
        .foo
          .hide.w-48.h-48
      .w-auto.p-4
        .foo
          .hide.w-32.h-32
      .w-auto.p-4
        .foo
          .hide.w-72.h-72

+block("script-in-view")
  script.
    inView({
      elements: document.querySelectorAll(".foo")
    });
