extends /_layouts/default.pug

block content
  .container.mx-auto.py-8
    .flex.flex-wrap.items-center
      .w-16.mr-6
        img.w-full(src="./images/utility.svg", alt="utility")
      .flex-grow
        h1.text-4xl.font-semibold Utility
        p.text-xl.font-medium.mb-0 Literally not your regular swiss army knife.
    hr.my-8
    .max-w-2xl
      section.pb-8
        include /_components/ease.pug
      hr
      section.py-8
        include /_components/cookie.pug
      hr
      section.py-8
        include /_components/getViewport.pug
      hr
      section.py-8(data-testid='section-inview')
        include /_components/inView.pug
      hr
      section.py-8
        include /_components/onMediaQueryWidth.pug
      hr
      section.py-8
        include /_components/scrollProgress.pug
      hr
      section.py-8
        include /_components/scrollTo.pug
      hr
      section.py-8
        include /_components/searchParams.pug

block scripts
  +block("script-ease")
  +block("script-cookie")
  +block("script-get-viewport")
  +block("script-in-view")
  +block("script-on-media-query-width")
  +block("script-scroll-progress")
  +block("script-scroll-to")
  +block("script-search-params")
